@charset "utf-8";

@import "normalize";

/* variable */
$main-color: #7f0019;

#container {
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav {
	display: none;
}

#header {
	margin: 2em 0;
}

.blog-title {
	margin: 0 0 .2em;
	font-size: 260%;
	font-weight: bold;
	text-align: center;
	a {
		text-decoration: none;
		transition: all ease .1s;
		&:link,
		&:visited {
			color: $main-color;
		}
		&:hover,
		&:focus {
			color: #fff;
			background: $main-color;
		}
	}
}

.blog-description {
	margin: 0 auto;
	width: 700px;
	font-size: 110%;
	font-weight: normal;
	text-align: center;
	a {
		color: $main-color;
		transition: all ease .1s;
		&:link,
		&:visited {
			text-decoration: underline;
		}
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.tagged {
	margin: 1em auto;
	text-align: center;
	font-size: 120%;
	&:before,
	&:after {
		content: "\25bc";
	}
}

.post {
	margin: 0 auto 2em;
	width: 460px;
	background: #f5f2e9;
	border-top: solid 10px $main-color;
	box-shadow: 1px 0 1px #444,-1px 1px 1px #444; //fallback
	box-shadow: 1px 0px 1px rgba(0,0,0,0.4), -1px 1px 1px rgba(0,0,0,0.4);
}

.date {
	margin: .2em 0 0 .2em;
	font-size: 250%;
	font-weight: bold;
	p {
		margin: 0;
		font-size: 40%;
	}
	a {
		color: #323232;
		&:link,
		&:visited {
			text-decoration: none;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.entry-header {
	margin: 0 0 .5em 0;
}

.entry-title {
	margin: 0 0 0 .5em;
	font-size: 100%;
	a {
		color: #323232;
		&:link,
		&:visited {
			text-decoration: none;
		}
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.entry-content {
	padding: 1em 0 0;
	border-top: solid 6px $main-color;
	border-bottom: solid 6px $main-color;
	p {
		margin: 0 .5em 1em;
		line-height: 1.5;
	}
	a {
		transition: all ease .1s;
		&:link,
		&:visited {
			color: $main-color;
			font-weight: bold;
			text-decoration: underline;
		}
		&:hover,
		&:focus {
			color: #fff;
			background: $main-color;
			text-decoration: none;
		}
	}
	img,iframe {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.entry-footer {
	overflow: hidden;
	padding: 0.4em 0.5em;
	.meta {
		float: left;
		.meta-elements {
			a {
				&:link,
				&:visited {
					color: #323232;
					text-decoration: underline;
				}
				&:hover
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
	.like_and_reblog_buttons {
		margin: 0;
		float: right;
		li {
			float: left;
			margin: .2em 0 0 1em;
			list-style-type: none;
		}
	}
	.social-buttons {
		display: none;
	}
	.notecontainer {
		margin: 2em 0 0;
		border-top: solid 2px #ccc;
		.avatar_frame {
			display: inline-block;
			margin: 0 .3em 0 0;
		}
		.action a {
			&:link,
			&:visited {
				color: $main-color;
				text-decoration: none;
			}
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

#pager {
	overflow: hidden;
	margin: 0 auto 1em;
	width: 460px;
	a {
	color: #7f0019;
		&:link,
		&:visited,
		&:hover,
		&:focus {	
			text-decoration: underline;
		}
		&:before {
			content: "\3c\3c\20";
		}
	}
	a.next {
		float: right;
		&:before {
			content: none;
		}
		&:after {
			content: "\20\3e\3e";
		}
	}
}

#footer {
	margin: 0 0 1em;
	text-align: center;
}
